@charset "UTF-8";
/* colors */
/* default */
* {
  font-family: '微软雅黑', 'Microsoft YaHei', 'Microsoft JhengHei', '等线', '黑体';
}

html,
body {
  background-color: #eee;
}

/* header */
.navbar {
  background: #fff;
  border-bottom: 1px solid #e8e3e3;
}

.navbar-nav {
  padding: 0 20px;
}

.nav-item {
  padding: 4px 20px;
  margin: 0 10px;
}

.nav-item.active {
  border-bottom: 2px solid #CD1B22;
}

.logo {
  height: 72px;
  padding: 6px;
}

/* banner */
.banner {
  height: 150px;
  padding: 0;
  border: none;
}

@media (min-width: 576px) {
  .banner {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 400px;
  }
}

.carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: x-repeat;
}

/* ad */
.ad {
  background: #CD1B22;
  color: #fdd;
  font-size: 1rem;
}

.ad a {
  display: block;
  color: #fdd;
  padding: 18px 0;
  transition: background .2s;
  text-decoration: unset;
}

.ad a:hover {
  color: #fee;
  background: #c41a21;
}

/* section */
.section {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* title */
.row-title {
  background: #CD1B22;
  color: #fff;
  padding: 2px 6px;
  border-bottom: 1px solid #CD1B22;
  display: block;
  position: relative;
  height: 28px;
}

.row-title:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 76px;
  border-width: 14px 4px 14px 4px;
  border-style: solid;
  border-color: transparent transparent #CD1B22 #CD1B22;
}

/* card */
.card {
  width: 12rem;
  padding: 0;
  margin: 2px;
  border: none;
  height: 14rem;
  border-color: #eee;
  border-radius: 0;
  overflow: hidden;
  position: relative;
}

.card .card-img-div {
  position: relative;
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  top: 15%;
  transition: top .4s ease-out;
}

.card .card-img-div .card-img-top {
  max-width: 12rem;
  max-height: 12rem;
}

.card .card-body {
  width: 100%;
  height: 5.5rem;
  transition: top .4s ease-out;
  position: relative;
  background: #223;
  color: #eee;
  top: 14rem;
  padding: 1rem .5rem;
  position: absolute;
}

.card .card-body .card-title {
  font-size: 1rem;
  margin-bottom: .3rem;
}

.card .card-body .card-text {
  color: #e84d53;
  font-size: .8rem;
}

.card:hover .card-img-div, .card:active .card-img-div, .card:focus .card-img-div {
  top: 0%;
}

.card:hover .card-body, .card:active .card-body, .card:focus .card-body {
  top: 8.5rem;
}

/* footer */
.footer {
  user-select: none;
  border-top: 3px solid #CD1B22;
  padding: 50px 0 0 0;
  background-color: #3a3a3a;
  background-image: url("https://www.transparenttextures.com/patterns/white-diamond-dark.png");
}

.footer .main {
  padding-bottom: 40px;
}

.footer .links {
  padding: 0 80px;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}

.footer .links a {
  color: #aaa;
  font-size: .8rem;
}

.footer .call {
  color: #CD1B22;
  font-size: 1.2rem;
}

.copyright {
  color: #555;
  padding: 3px 0;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: .8rem;
}
 

 /*# sourceMappingURL= style.css.map */