@charset "UTF-8";
/* colors */
/* default */
* {
  font-family: '微软雅黑', 'Microsoft YaHei', 'Microsoft JhengHei', '等线', '黑体';
}

button {
  -webkit-tap-highlight-color: transparent;
}

a, a:hover {
  text-decoration: none;
}

html,
body {
  background-color: #f8f8f8;
}

.cr {
  color: #CD1B22;
}

.cg {
  color: #a7cd1b;
}

.cb {
  color: #1bbccd;
}

.page-link,
.page-link:hover {
  color: #CD1B22;
}

/* section */
.section {
  margin-top: 1rem;
  margin-bottom: 8px;
}

/* title */
.row-title {
  color: #666;
  font-size: 1.2rem;
  padding: 4px 6px;
  display: block;
  position: relative;
}

.row-title:after {
  content: '';
  width: 0;
  height: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 76px;
  border-width: 14px 4px 14px 4px;
  border-style: solid;
  border-color: transparent transparent #CD1B22 #CD1B22;
}

.row-header {
  padding: 5px 5px;
  background: #fff;
  margin-bottom: 1px;
}

.row-header-links {
  float: right;
  padding: 7px 6px 3px 6px;
  width: auto;
  top: 10px;
}

.row-header-links a {
  font-size: .9rem;
  background: #fff;
  color: #888;
  padding: 2px 6px;
  margin-left: 3px;
  position: relative;
  display: inline-block;
  height: 26px;
}

.row-header-links a:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  border-width: 13px 3px 13px 3px;
  border-style: solid;
  border-color: transparent #fff #fff transparent;
}

.row-header-links a:before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  border-width: 13px 3px 13px 3px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
}

.row-header-links a:hover {
  color: #fff;
  text-decoration: unset;
  background: #CD1B22;
}

.row-header-links a:hover:before {
  border-color: #CD1B22 transparent transparent #CD1B22;
}

.row-header-links a:hover:after {
  border-color: transparent #CD1B22 #CD1B22 transparent;
}

.row-content {
  padding: 5px 0px;
}

/* header */
.navbar {
  background: #fff;
  padding-right: 20px;
  border-bottom: 1px solid #e8e3e3;
}

.navbar-nav {
  padding: 0 20px;
}

.nav-item {
  padding: 5px 5px;
  margin: 0 15px;
  font-size: .95rem;
  transition: border-bottom .2s;
  border-bottom: 2px solid #fff;
}

.nav-item.active, .nav-item:hover {
  border-bottom: 2px solid #CD1B22;
}

.logo {
  height: 70px;
  padding: 6px;
}

/* banner */
.banner {
  height: 150px;
  padding: 0;
  border: none;
}

@media (min-width: 576px) {
  .banner {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .banner {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .banner {
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .banner {
    height: 400px;
  }
}

.carousel-item {
  background-size: cover;
  background-position: center;
  background-repeat: x-repeat;
}

/* ad */
.ad {
  background: #fff;
  font-size: 1rem;
  padding: 10px 0;
}

.ad a {
  display: block;
  padding: 18px 0;
  transition: background .2s;
  text-decoration: unset;
  font-size: 1.1rem;
  color: #333;
}

.ad a .icon {
  font-size: 2rem;
  padding: 10px;
}

.ad a:hover {
  color: #fee;
  background: #c41a21;
}

.ad a:hover .icon {
  color: #fff;
}

/* card */
.hot-products {
  padding: 10px 15px;
}

.card {
  cursor: pointer;
  width: 10rem;
  margin: 15px 6px;
  height: 14rem;
  border: 1px solid #f6f6f6;
  border-bottom: 8px solid #f6f6f6;
  border-radius: 0;
  border-color: #f6f6f6;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.card .card-img-div {
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  transition: top .35s ease-out;
  top: 5%;
}

.card .card-img-div .card-img-top {
  border-radius: 0;
  max-width: 11rem;
  max-height: 11rem;
}

.card .card-body {
  width: 100%;
  height: 4.5rem;
  transition: top .35s ease-out;
  position: relative;
  background: #f6f6f6;
  color: #666;
  top: 11.5rem;
  padding: .8rem .5rem;
  position: absolute;
}

.card .card-body .card-title {
  font-size: .9rem;
  margin-bottom: .3rem;
  line-height: 1.2rem;
}

.card .card-body .card-text {
  font-size: .75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card:hover, .card:active, .card:focus {
  border-color: #d21c23;
}

.card:hover .card-img-div, .card:active .card-img-div, .card:focus .card-img-div {
  top: 0%;
}

.card:hover .card-body, .card:active .card-body, .card:focus .card-body {
  top: 10.2rem;
  bottom: 0;
  background-color: #d21c23;
  color: #fff;
}

.product-list {
  padding-top: 15px;
  padding-left: 25px;
}

.product-list .card {
  margin: 10px 15px;
}

.product-title-img {
  border: 1px solid #eee;
}

.companyView {
  line-height: 1.5rem;
}

.companyView img {
  border: 1px solid #e8e8e8;
}

/* footer */
.footer {
  margin-top: 2rem;
  user-select: none;
  border-top: 3px solid #CD1B22;
  padding: 50px 0 0 0;
  background-color: #f0f0f0;
}

.footer .main {
  padding-bottom: 40px;
}

.footer .main .logo {
  height: 60px;
}

.footer .links {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.footer .links a {
  color: #666;
  font-size: .8rem;
}

.footer .links a:hover {
  text-decoration: underline;
}

.footer .call {
  color: #CD1B22;
  font-size: 1.2rem;
}

.copyright {
  color: #aaa;
  padding: 3px 0;
  background-color: #000;
  font-size: .8rem;
}

.category {
  background: #fff;
  color: #fff;
  padding: 10px 15px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.category ul {
  list-style-type: none;
  margin-left: 0px;
  padding: 0;
  font-size: .9rem;
}

.category ul li {
  background: white;
  color: #555;
  padding-left: 0;
  line-height: 2rem;
  display: block;
  cursor: pointer;
  transition: background .15s;
}

.category ul li > li {
  display: block;
  line-height: 2rem;
  padding-left: 1.5rem;
}

.category ul li > li:hover {
  width: 100%;
}

.category ul li:hover, .category ul li.active, .category ul li.active > a {
  color: #fff;
  background: #eb6369;
  width: 100%;
}

.category > ul {
  padding: 0;
  padding-left: 0px;
  position: relative;
}

.category > ul > li {
  border-left: 3px solid #CD1B22;
  margin: 10px 0;
}

.category > ul > li > ul > li > a {
  padding-left: 30px;
  font-weight: normal;
  display: block;
  color: #555;
  font-style: normal;
}

.category > ul > li > ul > li > a:hover {
  color: white;
  text-decoration: none;
}

.category > ul > li:hover {
  color: white;
  background: #CD1B22;
}

.category > ul .menu {
  padding-left: 10px;
  font-weight: bold;
  display: block;
}

.content {
  background: #fff;
  padding: 10px 30px;
  font-size: 0.95rem;
}

.content li {
  padding: .5rem 0;
}

.content p {
  text-indent: 2rem;
}

.title {
  color: #CD1B22;
  border-left: 2px solid #CD1B22;
  padding-left: 5px;
  margin: 10px 5px;
  font-weight: bold;
}

.title-header {
  color: #CD1B22;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.title-header span {
  border: 2px solid #CD1B22;
  border-width: 2px 0;
  display: inline-block;
  padding: 3px 10px;
  font-size: 1rem;
}

.title-header span:before,
.title-header span:after {
  content: ' ◇ ';
  font-size: 1.2rem;
  font-weight: bold;
  user-select: none;
}

.product-title-header {
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.qq-contact .qq {
  padding: 12rem 0;
  line-height: 2.5rem;
  cursor: pointer;
}

.qq-contact .qq img {
  height: 4rem;
}

.qq-contact .qq .qq-link {
  color: #CD1B22;
  font-size: 1.5rem;
  height: 2.5rem;
  display: inline-block;
  text-anchor: bottom;
  transition: text-shadow .3s;
}

.qq-contact .qq:hover .qq-link {
  animation: swing .8s;
}

.weixin-contact > div > img {
  margin: 0 auto;
}

.contactForm {
  background: #fff;
  padding: 15px;
}

.contactForm .tab {
  border: none;
  background: #f8f8f8;
  border-bottom: 3px solid #CD1B22;
  color: #888;
  width: 33.3333%;
  padding: 10px;
  transition: all .15s;
  cursor: pointer;
}

.contactForm .tab:focus {
  outline: none;
}

.contactForm .tab.active {
  background: white;
  color: #333;
  border-bottom: 3px solid #CD1B22;
  box-shadow: 0 -2px 10px -4px rgba(0, 0, 0, 0.2);
}

.contactForm .tab:hover {
  background: #CD1B22;
  color: white;
  border-bottom: 3px solid #CD1B22;
}

.contactForm .tab:first-of-type {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}

.contactForm .tab:last-of-type {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

.utils .toTop {
  background: #CD1B22;
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.utils .toTop a {
  padding: 5px 10px;
  display: block;
  color: #fff;
  font-size: .9rem;
}
/*# sourceMappingURL=style.css.map */