/* colors */

$red: #CD1B22; //#1b86cd;
// $red: rgb(8, 141, 207);
$green:#a7cd1b;
$blue:#1bbccd;
$darkenRed: darken($red, 4);
$red-shadow: hsl(358, 10%, 90%);
$nav-bg: #333;
$bg: #f8f8f8;
$header-link-color: #666;
$header-link-bg-color: #fff;
$header-link-hover-color: $red;
$footer-bg:#f0f0f0;
$card-header-color:#666;
$card-header-bg:#f6f6f6;
$card-content-color:#666;
$category-color:#555;

/* default */


* {
    font-family: '微软雅黑', 'Microsoft YaHei', 'Microsoft JhengHei', '等线', '黑体';    
}
button{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
}

a,a:hover{
    text-decoration: none;    
}

html,
body {
    background-color: $bg;
}

.cr {
    color: $red;
}

.cg {
    color: $green;
}

.cb {
    color: $blue;
}

.page-link,
.page-link:hover {
    color: $red;
}


/* section */

.section {
    margin-top: 1rem;
    margin-bottom: 8px;
}


/* title */

.row-title {
    //background: $red;
    //color: #fff;
    color: $header-link-color; //font-weight: bold;
    font-size: 1.2rem;
    padding: 4px 6px; //border-bottom: 1px solid $red;
    display: block;
    position: relative; //height: 28px;
    &:after {
        content: '';
        width: 0;
        height: 0;
        display: none;
        position: absolute;
        top: 0;
        left: 76px;
        border-width: 14px 4px 14px 4px;
        border-style: solid;
        border-color: transparent transparent $red $red;
    }
}

.row-header {
    padding: 5px 5px;
    background: #fff;
    margin-bottom: 1px;
}

.row-header-links {
    float: right;
    padding: 7px 6px 3px 6px; //height: 28px;
    width: auto;
    top: 10px;
    a {
        font-size: .9rem;
        background: #fff;
        color: #888;
        padding: 2px 6px;
        margin-left: 3px;
        position: relative;
        display: inline-block;
        height: 26px;
        &:after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: 0;
            right: 100%;
            border-width: 13px 3px 13px 3px;
            border-style: solid;
            border-color: transparent $header-link-bg-color $header-link-bg-color transparent;
        }
        &:before {
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            border-width: 13px 3px 13px 3px;
            border-style: solid;
            border-color: $header-link-bg-color transparent transparent $header-link-bg-color;
        }
        &:hover {
            color: #fff;
            text-decoration: unset;
            background: $header-link-hover-color;
            &:before {
                border-color: $header-link-hover-color transparent transparent $header-link-hover-color;
            }
            &:after {
                border-color: transparent $header-link-hover-color $header-link-hover-color transparent;
            }
        }
    }
}

.row-content {
    padding: 5px 0px;
}


/* header */

.navbar {
    background: #fff;
    padding-right: 20px;
    border-bottom: 1px solid $red-shadow;
}

.navbar-nav {
    padding: 0 20px;
}

.nav-item {
    padding: 5px 5px;
    margin: 0 15px;
    font-size: .95rem;
    transition: border-bottom .2s;
    border-bottom: 2px solid #fff;
    &.active,
    &:hover {
        border-bottom: 2px solid $red;
    }
}

.logo {
    height: 70px;
    padding: 6px;
}


/* banner */

.banner {
    height: 150px;
    padding: 0;
    border: none;
}

@media (min-width: 576px) {
    .banner {
        height: 200px;
    }
}

@media (min-width: 768px) {
    .banner {
        height: 250px;
    }
}

@media (min-width: 992px) {
    .banner {
        height: 350px;
    }
}

@media (min-width: 1200px) {
    .banner {
        height: 400px;
    }
}

.carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: x-repeat;
    cursor: pointer;
}


/* ad */

.ad {
    background: #fff;
    font-size: 1rem;
    padding: 10px 0;
    a {
        display: block;
        padding: 18px 0;
        transition: background .2s;
        text-decoration: unset;
        font-size: 1.1rem;
        color: #333;
        .icon {
            font-size: 2rem;
            padding: 10px; // color: #333;
        }
        &:hover {
            color: #fee;
            background: darken($red, 2);
            .icon {
                color: #fff;
            }
        }
    }
}


/* card */
.hot-products{
    padding:10px 15px;
}
.card {
    cursor: pointer;
    width: 10rem;
    margin: 15px 6px;
    height: 14rem;
    border: 1px solid $card-header-bg;
    border-bottom: 8px solid $card-header-bg;
    border-radius: 0;
    border-color: $card-header-bg;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    .card-img-div {
        position: relative;
        width: 10rem;
        height: 10rem;
        overflow: hidden;
        transition: top .35s ease-out;
        top: 5%;
        .card-img-top {
            border-radius: 0;
            max-width: 11rem;
            max-height: 11rem;
        }
    }
    .card-body {
        width: 100%;
        height: 4.5rem;
        transition: top .35s ease-out;
        position: relative;
        background: $card-header-bg;
        color: $card-header-color;
        top: 11.5rem;
        padding: .8rem .5rem;
        position: absolute;
        .card-title {
            font-size: .9rem;
            margin-bottom: .3rem;
            line-height: 1.2rem;
        }
        .card-text {
            font-size: .75rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    &:hover,
    &:active,
    &:focus {
        border-color: lighten($red, 1);
        .card-img-div {
            top: 0%;
        }
        .card-body {
            top: 10.2rem;
            bottom: 0;
            background-color: lighten($red, 1);
            color: #fff;
        }
    }
}

.product-list {
    padding-top: 15px;
    padding-left: 25px;
    .card{
        margin:10px 15px;
    }
}
.product-title-img {
    border: 1px solid #eee;
}
.companyView {
    line-height: 1.5rem;
    img{
        border: 1px solid #e8e8e8;
    }
}


/* footer */

.footer {
    margin-top: 2rem;
    user-select: none;
    border-top: 3px solid $red;
    padding: 50px 0 0 0;
    background-color: $footer-bg;
    .main {
        padding-bottom: 40px;
        .logo {
            height: 60px;
        }
    }
    .links {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        a {
            color: #666;
            font-size: .8rem;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .call {
        color: $red;
        font-size: 1.2rem;
    }
}

.copyright {
    color: #aaa;
    padding: 3px 0;
    background-color: #000;
    font-size: .8rem;
}

.category {
    background: #fff;
    color: #fff;
    padding: 10px 15px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    ul {
        list-style-type: none;
        margin-left: 0px;
        padding: 0;
        font-size: .9rem;
        li {
            background: lighten(#fff, 0);
            color: $category-color;
            padding-left: 0;
            line-height: 2rem;
            display: block;
            cursor: pointer;
            transition: background .15s;
            &>li {
                display: block;
                line-height: 2rem;
                padding-left: 1.5rem;
                &:hover {
                    width: 100%;
                }
            }
            &:hover,&.active,&.active>a {
                color: #fff;
                background: lighten($red, 20);
                width: 100%;
            }
        }
    }
    &>ul {
        padding: 0;
        padding-left: 0px;
        position: relative;
        &>li {
            border-left: 3px solid $red;
            margin: 10px 0;
            &>ul>li>a {
                padding-left: 30px;
                font-weight: normal;
                display: block;
                color:$category-color;
                font-style: normal;
                &:hover {
                    color: white;
                    text-decoration:none;
                }
            }
            &:hover {
                color:white;
                background: $red;
            }
        }
        .menu {
            padding-left: 10px;
            font-weight: bold;
            display: block;
        }
    }
}

.content {
    background: #fff;
    padding: 10px 30px;
    font-size: 0.95rem;
    li {
        padding: .5rem 0;
    }
    p {
        text-indent: 2rem;
    }
}

.title {
    color: $red;
    border-left: 2px solid $red;
    padding-left: 5px;
    margin: 10px 5px;
    font-weight: bold;
}

.title-header {
    color: $red;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.title-header span {
    border: 2px solid $red;
    border-width: 2px 0;
    display: inline-block;
    padding: 3px 10px;
    font-size: 1rem;
}

.title-header span:before,
.title-header span:after {
    content: ' ◇ ';
    font-size: 1.2rem;
    font-weight: bold;
    user-select: none;
}

.product-title-header {
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.qq-contact{
    .qq{
        padding: 12rem 0;        
        line-height: 2.5rem;
        cursor: pointer;
        img{
            height: 4rem;
        }
        .qq-link{
            color: $red;
            font-size: 1.5rem;
            height:2.5rem;
            display: inline-block;
            text-anchor: bottom;
            transition: text-shadow .3s;
        }
        &:hover{
            .qq-link{                
                animation: swing .8s;
            }
        }
    }
    
}

.weixin-contact>div>img {
    margin: 0 auto;
}


.contactForm {
    background: #fff;
    padding: 15px;
    .tab {
        border:none;
        background: #f8f8f8;        
        border-bottom:3px solid $red;
        color:#888;
        width:33.3333%;
        padding: 10px;
        transition: all .15s;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &.active {                       
            background: white; 
            color:#333;
            border-bottom:3px solid $red;
            box-shadow: 0 -2px 10px -4px rgba(0,0,0,.2);
        }
        &:hover {            
            background: $red;
            color:white;
            border-bottom:3px solid $red;
        }
        &:first-of-type{
            border-top:1px solid #eee;
            border-left:1px solid #eee;
        }
        &:last-of-type{
            border-top:1px solid #eee;
            border-right:1px solid #eee;
        }
    }
}

.utils {
    .toTop{
        background: $red;
        position: fixed;
        right: 0px;
        bottom: 0px;
        a {            
            padding: 5px 10px;
            display: block;
            color: #fff;
            font-size: .9rem;
        }
    }    
}